@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans JP Regular'), local('NotoSansJP-Regular'),
    url('../../fonts/static/NotoSansJP-Regular.ttf') format('ttf'),
    url('../../fonts/static/NotoSansJP-Black.ttf') format('ttf');
}

* {
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
}

html {
  --my-green: #CDF2C9;
  --my-gray: #707070;
}

.bg-gray {
  background-color: var(--my-gray);
}

/* .vertical-align-center{
  vertical-align: middle;
} */
.cs-state {
  background-color: var(--my-green);
  border-radius: 1rem;
  color: #45A549;
  width: 106px;
  text-align: center;
  padding: 5px;
}

.bg-red-subscribe {
  background-color: #FFBABA;
}

a {
  text-decoration: none;
  color: black;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.fs-32 {
  font-size: 2rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-10 {
  font-size: 0.625rem !important;
}

main {
  --width-min: calc(100vh - 268px);
  min-height: var(--width-min);
}

@media (min-width: 1400px) {
  .max-1200 {
    max-width: 1200px;
  }
}

footer .container-fluid:first-child {
  background-color: #F5F5F5;
  padding: 25px 0px 25px;

}

footer .navbar-nav {
  gap: 10px;
}

@media(min-width: 992px) {
  footer .navbar-nav {
    padding-right: 42px !important;
  }

  footer .navbar-nav {
    gap: 42px;
  }
}

main {
  padding-top: 80px;
}

footer .container-fluid:last-child {
  background-color: #24313C;
  padding: 28px 0px 27px;
  color: white;
  text-align: center;
}

.text-yellow {
  color: #EEE724;
}

.pt-76 {
  padding-top: 4.75rem;
}

.min-30 {
  min-width: 2.5rem;
}

.btn-normal {
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  background-color: #F4F4F5;
}

.bg-green-strong {
  background-color: #59CC4C;
}

.bg-red-strong {
  background-color: #FF7777;
}

@media(min-width: 992px) {
  .ms-185 {
    margin-left: 11.6rem;
  }

}

/* ////   TAB */
.nav {
  border-bottom: 1px solid #4CA7EE !important;
}

.nav-link {
  /* border: none; */
  border-color: white !important;
}

.nav-link.active {
  border-bottom: 5px solid #4CA7EE !important;
}

/* END TAB */

.px-70 {
  padding: 5.25rem 4.375rem 2rempx 5.25rem !important;
}

.tab-content {
  padding-top: 1rem;
}

.w-445 {
  width: 445px !important;
  min-width: 445px;
  height: 542px !important;
}

.w-445>.container {
  height: 542px !important;
}

.w-155 {
  width: 155px;
}

.answer-item {
  background-color: #ECECEC;
  width: 403px;
  min-height: 120px;
  border: 2px solid #ECECEC;
}

.answer-item.active {
  border: 2px solid var(--bs-primary);
}

@media(max-width: 572px) {

  .w-445 {
    width: 100% !important;
    min-width: 0px;
    height: 542px !important;
  }

  /* .w-155{
    width: 100%;
  } */
  .answer-item {
    width: 100%;
  }
}

@media(max-width: 410px) {

  .answer-item .col-6:first-child {
    width: 100% !important;
  }

  .answer-item .col-6:last-child {
    display: none;
  }

  .w-155 {
    width: auto;
  }

  .w-155 img,
  .w-155 video {
    width: 155px !important;
  }
}

/* MEETING BOOKING */
.meeting-book h1 {
  padding-top: 5.18rem;
  padding-bottom: 1.5rem;
}

.meeting-book p {
  padding: 0px 140px;
  font-size: 1.25rem;
}


.meeting-book .w-100 button {
  width: 165px;
  padding: 11px 0px;
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
}

.meeting-book .w-100 button:last-child {
  color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
}

.meeting-book th {
  background-color: var(--bs-primary);
}

.meeting-book table,
td {
  font-size: 0.875rem;
}

.meeting-book th:first-child {
  width: 130px;
}

.meeting-book table tr:nth-child(even) td:first-child {
  font-size: 0.625rem;
}

.meeting-book table tr td {
  background-color: white;
}

th {
  border: 1px solid var(--bs-primary);
}

td,
tr {
  /* border-color: #707070 !important; */
}

td {
  color: var(--my-green)
}

tr,
td,
th {
  height: 26px !important;
  padding: 3px !important;
}

tr th:first-child {
  font-size: 1.25rem;
  padding: 0px !important;
  /* padding-top:6px!important; */
}

td {
  color: white !important;
}

tr td:first-child {
  background-color: white !important;
  color: black !important;
}

td.active {
  background-color: #4CA7EE !important;
}

tr:last-child td:first-child {
  border-bottom: 1px solid #707070 !important;
}

.max-590 {
  max-width: 590px;
}

.max-590 input {
  height: 63px;
}

#delete {
  background-color: #BB3232;
  min-width: 100px;
}


.pre-content,
.eval-content{
	height: 360px;
}
.text-content{
	height: 180px;
}

.none {
  display: none;
}

.camera_not_connected {
  width: 80%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 10%;
  font-weight: 700;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1199px) {
  .camera_not_connected {
    top: 3%;
    height: 68%;;
  }
}
@media (max-width: 991px) {
  .camera_not_connected {
    top: 20%;
    left: 20%;
    height: 56%;;
    width: 60%;
  }
}
@media (max-width: 767px) {
  .camera_not_connected {
    top: 10%;
    left: 10%;
    height: 80%;;
    width: 80%;
  }
}
@media (max-width: 505px) {
  .camera_not_connected {
    top: 5%;
    left: 5%;
    width: 90%;
    margin: auto;
    font-size: 16px;;
  }
}

/* .answer-list{
  padding-left: 2rem !important;
  padding-right: 3.75rem !important;
} */
.answer-list {
  max-width: 446px;
}

.answer-item {
  box-sizing: content-box;
  background-color: #ECECEC;
  border: 2px solid #ECECEC;
  width: 403px;
}

@media(max-width: 460px) {
  .answer-item {
    width: 300px;
  }

  .answer-list {
    max-width: 318px;
  }

  .test-flow .no {
    width: 2.125rem;
    height: 2.125rem;
  }
}

.answer-item.active {
  border: 2px solid var(--bs-primary);
}

.answer-type {
  background-color: white;
  width: 9.75rem;
  height: 7rem;
  font-size: 0.875rem;
  padding-top: 1.5rem;
}

.answer-type i {
  font-size: 1.9rem;
  font-stretch: expanded;
}

#chat2 .form-control {
  border-color: transparent;
}

#chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {

}

#chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
   content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.chat-message {
  width: fit-content;
}

.chat-message.right {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}
.test-ai .bg-active {
  background-color: #4cadee;
}

.test-ai i:hover {
  color: #be79df;
}

.test-ai .d-none {
  display: none !important;
}

.test-ai .others-show {
  top: -55px !important;
  z-index: 10 !important;
}

.test-ai .emoji-show {
  display: flex !important;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 150px !important;
  height: 100px !important;
  padding: 10px;
  top: -135px !important;
  right: 10px !important;
  background-color: #fff;
  box-shadow: 0 0 25px -5px lightgray;
  border-radius: 5px 5px 0 5px;
}

.test-ai button {
  border: 0;
  outline: none;
}

.test-ai img {
  width: 100%;
  object-fit: cover;
}

.test-ai .avatar-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.test-ai .chat-box {
  width: 350px;
  margin: auto;
}

.test-ai .chat-box .header {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  padding: 15px;
}

.chat-box .header .avatar-big {
  width: 35px;
  height: 35px;
}

.chat-box .header .name {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.chat-box .header .options {
  font-size: 20px;
  color: lightgrey;
  margin-left: auto;
  cursor: pointer;
}

.chat-box .chat-room {
  min-height: 300px;
  background-color: #f7f9fb;
  padding: 15px;
  max-height: 400px;
  overflow-y: auto;
}

.chat-box .chat-room .avatar-small {
  width: 25px;
  height: 25px;
}

.chat-box .chat-room .message {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.chat-box .chat-room .message-left {
  align-items: flex-start;
}

.chat-box .chat-room .message-left .bubble {
  border-radius: 0 5px 5px 5px;
}

.chat-box .chat-room .message-right {
  align-items: flex-end;
}

.chat-box .chat-room .message-right .bubble {
  border-radius: 5px 0 5px 5px;
}

.chat-box .chat-room .bubble {
  padding: 10px;
  font-size: 14px;
  margin-top: 5px;
  display: inline-block;
}

.chat-box .chat-room .bubble-light {
  background-color: #4cadee79;
}

.chat-box .chat-room .bubble-dark {
  color: #fff;
  background-color: #4cadee;
}

.chat-box .type-area {
  display: flex;
  height: 65px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.chat-box .type-area .input-wrapper {
  overflow: hidden;
  border-radius: 0 0 0 20px;
  width: 90%;
}

.chat-box .type-area .input-wrapper input {
  outline: none;
  border: none;
  padding-left: 20px;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

.chat-box .type-area .button-add {
  display: flex;
  align-items: center;
  position: relative;
}

.chat-box .type-area .button-add i {
  font-size: 30px;
  color: lightgrey;
  cursor: pointer;
}

.chat-box .type-area .button-add i:hover {
  color: #be79df;
}

.chat-box .type-area .button-add .others {
  display: flex;
  padding: 10px 15px;
  background-color: #fff;
  position: absolute;
  top: 5px;
  z-index: -1;
  right: -52px;
  border-radius: 999px;
  box-shadow: 0 0 25px -5px lightgray;
  transition: 0.3s all ease-out;
}

.chat-box .type-area .button-add .others span i {
  font-size: 20px;
  color: #be79df;
}

.chat-box .type-area .button-add .others span.image-button {
  margin: 0 25px;
}

.chat-box .type-area .button-add .others .emoji-button {
  position: relative;
}

.chat-box .type-area .button-add .others .emoji-button .emoji-box {
  display: none;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0px;
  right: 0px;
  transition: 0.3s all ease-out;
}

.chat-box .type-area .button-add .others .emoji-button .emoji-box span {
  user-select: none;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
}

.chat-box .type-area .button-send {
  background-color: #fff;
  margin-left: auto;
  width: 65px;
  color: #4cadee;
  font-weight: bold;
  border-left: 2px solid #f7f9fb;
  border-radius: 0 0 20px 0;
  transition: background-color 0.3s ease-in-out;
}

.chat-box .type-area .button-send:hover {
  background-color: #4cadee;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
