@charset "UTF-8";

@font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans JP Regular'), local('NotoSansJP-Regular'),
		url('../../fonts/static/NotoSansJP-Regular.ttf') format('ttf'),
		url('../../fonts/static/NotoSansJP-Black.ttf') format('ttf');
}

* {
	font-family: 'Noto Sans JP', sans-serif;
	text-decoration: none;
}

html {
	--my-green: #CDF2C9;
}

/* .vertical-align-center{
  vertical-align: middle;
} */
.cs-state {
	background-color: var(--my-green);
	border-radius: 1rem;
	color: #45A549;
	width: 106px;
	text-align: center;
	padding: 5px;
}

.bg-red-subscribe {
	background-color: #FFBABA;
}

a {
	text-decoration: none;
	color: black;
}

.fs-20 {
	font-size: 1.25rem !important;
}

.fs-32 {
	font-size: 2rem !important;
}

.fs-14 {
	font-size: 0.875rem !important;
}

.fs-12 {
	font-size: 0.75rem !important;
}

.fs-10 {
	font-size: 0.625rem !important;
}

main {
	--width-min: calc(100vh - 268px);
	min-height: var(--width-min);
}

@media (min-width: 1400px) {
	.max-1200 {
		max-width: 1200px;
	}
}

footer .container-fluid:first-child {
	background-color: #F5F5F5;
	padding: 25px 0px 25px;

}

footer .navbar-nav {
	gap: 10px;
}

@media(min-width: 992px) {
	footer .navbar-nav {
		padding-right: 42px !important;
	}

	footer .navbar-nav {
		gap: 42px;
	}
}

footer .container-fluid:last-child {
	background-color: #24313C;
	padding: 28px 0px 27px;
	color: white;
	text-align: center;
}

.test-flow {
	padding: 52px 0px 66px;
	display: flex;
	justify-content: center;
	color: white;
	font-size: 1.7rem;
	font-weight: bold;
	text-align: center;
}


#card-box .card {
	padding: 2.125rem 4.875rem 1.375rem 1.5rem !important;
}

#card-box .close {
	top: 17px;
	right: 24px;
	transform: rotate(45deg);
}

#dashboard {
	height: 300px;
}

#sec-card-box .card {
	padding: 3.25rem 1.25rem 2rem 1.25rem;
	background-color: #F5F4ED;
	max-width: 300px;
	margin-bottom: 0.5rem;
}

@media(max-width: 1420px) {
	#sec-card-box .card {
		min-width: 420px;
	}
}

@media(max-width: 445px) {
	#sec-card-box .card {
		min-width: 300px;
	}
}

#sec-card-box {
	padding-bottom: 4.5rem;
}

#sec_condistions input {
	min-width: 150px;
}

#sec_condistions {
	padding-top: 133px;
}

#job_add {
	background-color: var(--bs-primary);
	min-width: 165px;
}

#sec_jobs_table th {
	background-color: #F4F4F4 !important;
}

#sec_jobs_table td:first-child,
#sec_jobs_table th:first-child {
	padding-left: 3.25rem;
	font-weight: normal;
}

#sec_jobs_table td:last-child,
#sec_jobs_table th:last-child {
	padding-right: 3.25rem;
	font-weight: normal;
	text-align: right;
}

#sec_jobs_table table {
	min-width: 936px;
}


#sec_jobs_table td,
#sec_jobs_table th {
	border: none !important;
}

#sec_jobs_table td:first-child {
	border-left: 1px solid var(--bs-border-color) !important;
}

#sec_jobs_table td:last-child {
	border-right: 1px solid var(--bs-border-color) !important;
}

#sec_jobs_table>.container {
	overflow: auto;
	min-height: 500px;
}

.border-gray {
	border: 1px solid #707070;
}

.card-box .card:first-child {
	width: 560px;
}

.card-box .card:first-child {
	width: 560px;
}

.card-box .card:last-child {
	width: 390px;
}

.max-w-285 {
	max-width: 285px;
}

.max-w-158 {
	max-width: 158px;
}

@media(max-width: 580px) {

	.max-w-285 {
		max-width: none;
	}

	.max-w-285+div {
		width: 100%;
		text-align: center;
	}

	.max-w-158 {
		max-width: none;
	}
}

.bg-1 {
	background-color: #CDE2F3;
}

.bg-2 {
	background-color: #E8CDF3;
}

.bg-3 {
	background-color: #E1F3CD;
}

.bg-4 {
	background-color: #FEB4D4;
}

.bg-5 {
	background-color: #EBEAE4;
	min-height: 80px;
	max-width: 224px;
}

.col4>div {
	border-color: #FF67A9 !important;
}

.h-85 {
	height: 85%;
}

tr {
	vertical-align: middle;
}


.select-cus{
    top: 44px;
    width: 110%;
    left: -5%;
    min-width: 220px;
    z-index: 1000;
    display: none;
    
}

.select-cus .btn-group{
    display: flex;
    justify-content: flex-end;
}

.select-cus button{
    max-width: 120px;;
}

.cus-search input{
    max-width:none;
}

.select-cus .cus-option{
    padding: 4px;
    cursor: pointer;
}

.select-cus .cus-option:hover{
    color: #4CA7EE;
    /* color: white; */
}

.cus-bg{
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* display: none; */
}

.cus-notfound{
    display: none;
}

.pre-content,
.eval-content,
.text-content{
	height: 360px;
}