#timeline .timeline-container {
    width: 50%;
    display: block;
    position: relative;
}

#timeline .timeline-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;

}

#timeline .timeline-container ul.tl li {
    list-style: none;
    margin: auto;
    min-height: 30px;
    border-left: 1px solid #adadad;
    padding: 0 0 25px 30px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#timeline .timeline-container ul.tl li.dashed {
    border-left: 1px dashed #adadad;
}

#timeline .timeline-container ul.tl li:last-child {
    border-left: 0;
}

.timeline-container ul.tl li .item-icon {
    position: absolute;
    left: -18px;
    top: 0px;
    content: " ";
    border: 1px solid #adadad;
    border-radius: 500%;
    background: white;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height: 30px;
}

#timeline .timeline-container ul.tl li:hover::before {
    border-color: #258CC7;
    transition: all 1000ms ease-in-out;
}

#timeline ul.tl li .item-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    overflow-wrap: anywhere;
    text-wrap: wrap;
    word-wrap: wrap;
}

#timeline ul.tl li .item-title {
    width: 100%;
    text-wrap: wrap;
    word-wrap: wrap;
}

#timeline ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

#timeline ul.tl li .item-timestamp {
    color: #8D8D8D;
    font-size: 12px;
    text-align: right;
    padding-left: 20px;
}